* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    background-color: #121214;
    color: #E1E1E6;
    padding: 80px 104px;

    display: grid;
    justify-content: center;
}

header h1 {
    font-weight: 900;
    font-size: 60px;
    color: #02799D;
    margin-bottom: 8px;
}

header p {
    font-size: 32px;
    margin-bottom: 63px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 366px);
    gap: 48px 60px;

}

main .card {
    background-color: #202024;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .card h2, p {
    padding: 0 32px
}

.card h2 {
    font-size: 36px;
}

.card p {
    font-size: 20px;
    padding-bottom: 32px;
}

